@model Book
@{
    ViewData["Title"] = "Book Detail Review";
}
<h1>@ViewData["Title"]</h1>

<br />

<table class="table table-responsive table-hover">
    <tr>
        <td><span style="font-weight:bold">Id</span></td>
        <td>@Model.Id</td>
    </tr>
        <tr>
        <td><span style="font-weight:bold">Author</span></td>
        <td>@Model.Author</td>
    </tr>
    <tr>
        <td><span style="font-weight:bold">Title</span></td>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <td><span style="font-weight:bold">Description</span></td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td><span style="font-weight:bold">Rating</span></td>
        <td>@Model.ReviewDetails.Rating</td>
    </tr>
    <tr>
        <td><span style="font-weight:bold">Review</span></td>
        <td>@Model.ReviewDetails.Remarks</td>
    </tr>
</table>